<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lagerimage_test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Glide与OkHttp3集成 -->
    <meta-data
        android:name="com.example.lagerimage_test.glide.OkHttpProgressGlideModule"
        android:value="GlideModule" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AppContext"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NetworkDemoActivity" />
        <activity android:name=".ViewPagerDemoActivity" />
        <activity android:name=".SingleDemoActivity" />
        <activity
            android:name=".ListImageActivity"
            android:label="@string/title_activity_list_imgae" />
        <activity
            android:name=".LineImagesActivity"
            android:label="@string/title_activity_line_images"></activity>
    </application>

</manifest>